<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.order.mapper.TOrderStaffMapper">
    
    <resultMap type="TOrderStaff" id="TOrderStaffResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="staffId"    column="staff_id"    />
        <result property="staffName"    column="staff_name"    />
        <result property="isPrimary"    column="is_primary"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTOrderStaffVo">
        select os.id, os.order_id, o.order_no, os.staff_id, ss.staff_name,
               os.is_primary, os.is_deleted, os.create_time, os.update_time
        from t_order_staff os
        left join t_service_order o on os.order_id = o.order_id
        left join t_service_staff ss on os.staff_id = ss.staff_id
    </sql>

    <select id="selectTOrderStaffList" parameterType="TOrderStaff" resultMap="TOrderStaffResult">
        <include refid="selectTOrderStaffVo"/>
        <where>  
            <if test="orderId != null "> and os.order_id = #{orderId}</if>
            <if test="orderNo != null  and orderNo != ''"> and o.order_no = #{orderNo}</if>
            <if test="staffId != null "> and os.staff_id = #{staffId}</if>
            <if test="staffName != null  and staffName != ''"> and ss.staff_name like concat('%', #{staffName}, '%')</if>
            <if test="isPrimary != null "> and os.is_primary = #{isPrimary}</if>
        </where>
    </select>
    
    <select id="selectTOrderStaffById" parameterType="Long" resultMap="TOrderStaffResult">
        <include refid="selectTOrderStaffVo"/>
        where os.id = #{id}
    </select>

    <insert id="insertTOrderStaff" parameterType="TOrderStaff" useGeneratedKeys="true" keyProperty="id">
        insert into t_order_staff
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="staffId != null">staff_id,</if>
            <if test="isPrimary != null">is_primary,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="staffId != null">#{staffId},</if>
            <if test="isPrimary != null">#{isPrimary},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTOrderStaff" parameterType="TOrderStaff">
        update t_order_staff
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="staffId != null">staff_id = #{staffId},</if>
            <if test="isPrimary != null">is_primary = #{isPrimary},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTOrderStaffById" parameterType="Long">
        delete from t_order_staff where id = #{id}
    </delete>

    <delete id="deleteTOrderStaffByIds" parameterType="String">
        delete from t_order_staff where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>