<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.order.mapper.TServiceOrderMapper">
    
    <resultMap type="TServiceOrder" id="TServiceOrderResult">
        <result property="orderId"    column="order_id"    />
        <result property="elderlyId"    column="elderly_id"    />
        <result property="elderlyName"    column="elderly_name"    />
        <result property="providerId"    column="provider_id"    />
        <result property="providerName"    column="provider_name"    />
        <result property="serviceItemId"    column="service_item_id"    />
        <result property="itemName"    column="item_name"    />
        <result property="orderNo"    column="order_no"    />
        <result property="orderAmount"    column="order_amount"    />
        <result property="serviceTime"    column="service_time"    />
        <result property="serviceAddress"    column="service_address"    />
        <result property="serviceRequirements"    column="service_requirements"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="acceptTime"    column="accept_time"    />
        <result property="startTime"    column="start_time"    />
        <result property="completeTime"    column="complete_time"    />
        <result property="cancelReason"    column="cancel_reason"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTServiceOrderVo">
        select so.order_id, so.elderly_id, e.name as elderly_name,
               so.provider_id, sp.provider_name, so.service_item_id, si.item_name,
               so.order_no, so.order_amount, so.service_time, so.service_address,
               so.service_requirements, so.order_status, so.accept_time, so.start_time,
               so.complete_time, so.cancel_reason, so.is_deleted, so.create_time, so.update_time
        from t_service_order so
        left join t_elderly e on so.elderly_id = e.elderly_id
        left join t_service_provider sp on so.provider_id = sp.provider_id
        left join t_service_item si on so.service_item_id = si.item_id
    </sql>

    <select id="selectTServiceOrderList" parameterType="TServiceOrder" resultMap="TServiceOrderResult">
        <include refid="selectTServiceOrderVo"/>
        <where>  
            <if test="elderlyId != null "> and so.elderly_id = #{elderlyId}</if>
            <if test="elderlyName != null  and elderlyName != ''"> and e.name like concat('%', #{elderlyName}, '%')</if>
            <if test="providerId != null "> and so.provider_id = #{providerId}</if>
            <if test="serviceItemId != null "> and so.service_item_id = #{serviceItemId}</if>
            <if test="orderNo != null  and orderNo != ''"> and so.order_no = #{orderNo}</if>
            <if test="serviceTime != null "> and so.service_time = #{serviceTime}</if>
            <if test="serviceAddress != null  and serviceAddress != ''"> and so.service_address = #{serviceAddress}</if>
            <if test="orderStatus != null "> and so.order_status = #{orderStatus}</if>
        </where>
    </select>
    
    <select id="selectTServiceOrderByOrderId" parameterType="Long" resultMap="TServiceOrderResult">
        <include refid="selectTServiceOrderVo"/>
        where so.order_id = #{orderId}
    </select>

    <insert id="insertTServiceOrder" parameterType="TServiceOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into t_service_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="elderlyId != null">elderly_id,</if>
            <if test="providerId != null">provider_id,</if>
            <if test="serviceItemId != null">service_item_id,</if>
            <if test="orderNo != null and orderNo != ''">order_no,</if>
            <if test="orderAmount != null">order_amount,</if>
            <if test="serviceTime != null">service_time,</if>
            <if test="serviceAddress != null">service_address,</if>
            <if test="serviceRequirements != null">service_requirements,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="acceptTime != null">accept_time,</if>
            <if test="startTime != null">start_time,</if>
            <if test="completeTime != null">complete_time,</if>
            <if test="cancelReason != null">cancel_reason,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="elderlyId != null">#{elderlyId},</if>
            <if test="providerId != null">#{providerId},</if>
            <if test="serviceItemId != null">#{serviceItemId},</if>
            <if test="orderNo != null and orderNo != ''">#{orderNo},</if>
            <if test="orderAmount != null">#{orderAmount},</if>
            <if test="serviceTime != null">#{serviceTime},</if>
            <if test="serviceAddress != null">#{serviceAddress},</if>
            <if test="serviceRequirements != null">#{serviceRequirements},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="acceptTime != null">#{acceptTime},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="completeTime != null">#{completeTime},</if>
            <if test="cancelReason != null">#{cancelReason},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTServiceOrder" parameterType="TServiceOrder">
        update t_service_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="elderlyId != null">elderly_id = #{elderlyId},</if>
            <if test="providerId != null">provider_id = #{providerId},</if>
            <if test="serviceItemId != null">service_item_id = #{serviceItemId},</if>
            <if test="orderNo != null and orderNo != ''">order_no = #{orderNo},</if>
            <if test="orderAmount != null">order_amount = #{orderAmount},</if>
            <if test="serviceTime != null">service_time = #{serviceTime},</if>
            <if test="serviceAddress != null">service_address = #{serviceAddress},</if>
            <if test="serviceRequirements != null">service_requirements = #{serviceRequirements},</if>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
            <if test="acceptTime != null">accept_time = #{acceptTime},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="completeTime != null">complete_time = #{completeTime},</if>
            <if test="cancelReason != null">cancel_reason = #{cancelReason},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deleteTServiceOrderByOrderId" parameterType="Long">
        delete from t_service_order where order_id = #{orderId}
    </delete>

    <delete id="deleteTServiceOrderByOrderIds" parameterType="String">
        delete from t_service_order where order_id in 
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>
</mapper>