<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.spirit.mapper.TElderlyCourseMapper">
    
    <resultMap type="TElderlyCourse" id="TElderlyCourseResult">
        <result property="id"    column="id"    />
        <result property="elderlyId"    column="elderly_id"    />
        <result property="courseId"    column="course_id"    />
        <result property="enrollmentStatus"    column="enrollment_status"    />
        <result property="learningProgress"    column="learning_progress"    />
        <result property="enrollmentTime"    column="enrollment_time"    />
        <result property="completionTime"    column="completion_time"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTElderlyCourseVo">
        select id, elderly_id, course_id, enrollment_status, learning_progress, enrollment_time, completion_time, is_deleted, create_time, update_time from t_elderly_course
    </sql>

    <select id="selectTElderlyCourseList" parameterType="TElderlyCourse" resultMap="TElderlyCourseResult">
        <include refid="selectTElderlyCourseVo"/>
        <where>  
            <if test="elderlyId != null "> and elderly_id = #{elderlyId}</if>
            <if test="courseId != null "> and course_id = #{courseId}</if>
            <if test="enrollmentStatus != null "> and enrollment_status = #{enrollmentStatus}</if>
        </where>
    </select>
    
    <select id="selectTElderlyCourseById" parameterType="Long" resultMap="TElderlyCourseResult">
        <include refid="selectTElderlyCourseVo"/>
        where id = #{id}
    </select>

    <insert id="insertTElderlyCourse" parameterType="TElderlyCourse" useGeneratedKeys="true" keyProperty="id">
        insert into t_elderly_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="elderlyId != null">elderly_id,</if>
            <if test="courseId != null">course_id,</if>
            <if test="enrollmentStatus != null">enrollment_status,</if>
            <if test="learningProgress != null">learning_progress,</if>
            <if test="enrollmentTime != null">enrollment_time,</if>
            <if test="completionTime != null">completion_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="elderlyId != null">#{elderlyId},</if>
            <if test="courseId != null">#{courseId},</if>
            <if test="enrollmentStatus != null">#{enrollmentStatus},</if>
            <if test="learningProgress != null">#{learningProgress},</if>
            <if test="enrollmentTime != null">#{enrollmentTime},</if>
            <if test="completionTime != null">#{completionTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTElderlyCourse" parameterType="TElderlyCourse">
        update t_elderly_course
        <trim prefix="SET" suffixOverrides=",">
            <if test="elderlyId != null">elderly_id = #{elderlyId},</if>
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="enrollmentStatus != null">enrollment_status = #{enrollmentStatus},</if>
            <if test="learningProgress != null">learning_progress = #{learningProgress},</if>
            <if test="enrollmentTime != null">enrollment_time = #{enrollmentTime},</if>
            <if test="completionTime != null">completion_time = #{completionTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTElderlyCourseById" parameterType="Long">
        delete from t_elderly_course where id = #{id}
    </delete>

    <delete id="deleteTElderlyCourseByIds" parameterType="String">
        delete from t_elderly_course where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>