<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.spirit.mapper.TElderlyCourseMapper">
    
    <resultMap type="TElderlyCourse" id="TElderlyCourseResult">
        <result property="id"    column="id"    />
        <result property="elderlyId"    column="elderly_id"    />
        <result property="courseId"    column="course_id"    />
        <result property="enrollmentStatus"    column="enrollment_status"    />
        <result property="learningProgress"    column="learning_progress"    />
        <result property="enrollmentTime"    column="enrollment_time"    />
        <result property="completionTime"    column="completion_time"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="elderlyName"  column="elderly_name"  />
        <result property="courseName"   column="course_name"   />
    </resultMap>

    <sql id="selectTElderlyCourseVo">
        select ec.id, ec.elderly_id, ec.course_id, ec.enrollment_status, ec.learning_progress, ec.enrollment_time, ec.completion_time, ec.is_deleted, ec.create_time, ec.update_time,
               e.name as elderly_name, oc.course_name
        from t_elderly_course ec
        LEFT JOIN t_elderly e ON ec.elderly_id = e.elderly_id
        LEFT JOIN t_online_course oc ON ec.course_id = oc.course_id
    </sql>

    <select id="selectTElderlyCourseList" parameterType="TElderlyCourse" resultMap="TElderlyCourseResult">
        <include refid="selectTElderlyCourseVo"/>
        <where>  
            <if test="elderlyId != null "> and ec.elderly_id = #{elderlyId}</if>
            <if test="courseId != null "> and ec.course_id = #{courseId}</if>
            <if test="enrollmentStatus != null "> and ec.enrollment_status = #{enrollmentStatus}</if>
            <if test="elderlyName != null  and elderlyName != ''"> and e.name like concat('%', #{elderlyName}, '%')</if>
            <if test="courseName != null  and courseName != ''"> and oc.course_name like concat('%', #{courseName}, '%')</if>
        </where>
    </select>
    
    <select id="selectTElderlyCourseById" parameterType="Long" resultMap="TElderlyCourseResult">
        <include refid="selectTElderlyCourseVo"/>
        where ec.id = #{id}
    </select>

    <insert id="insertTElderlyCourse" parameterType="TElderlyCourse" useGeneratedKeys="true" keyProperty="id">
        insert into t_elderly_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="elderlyId != null">elderly_id,</if>
            <if test="courseId != null">course_id,</if>
            <if test="enrollmentStatus != null">enrollment_status,</if>
            <if test="learningProgress != null">learning_progress,</if>
            <if test="enrollmentTime != null">enrollment_time,</if>
            <if test="completionTime != null">completion_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="elderlyId != null">#{elderlyId},</if>
            <if test="courseId != null">#{courseId},</if>
            <if test="enrollmentStatus != null">#{enrollmentStatus},</if>
            <if test="learningProgress != null">#{learningProgress},</if>
            <if test="enrollmentTime != null">#{enrollmentTime},</if>
            <if test="completionTime != null">#{completionTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTElderlyCourse" parameterType="TElderlyCourse">
        update t_elderly_course
        <trim prefix="SET" suffixOverrides=",">
            <if test="elderlyId != null">elderly_id = #{elderlyId},</if>
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="enrollmentStatus != null">enrollment_status = #{enrollmentStatus},</if>
            <if test="learningProgress != null">learning_progress = #{learningProgress},</if>
            <if test="enrollmentTime != null">enrollment_time = #{enrollmentTime},</if>
            <if test="completionTime != null">completion_time = #{completionTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTElderlyCourseById" parameterType="Long">
        delete from t_elderly_course where id = #{id}
    </delete>

    <delete id="deleteTElderlyCourseByIds" parameterType="String">
        delete from t_elderly_course where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>