<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.elderly.mapper.TElderlyGuardianMapper">
    
    <resultMap type="TElderlyGuardian" id="TElderlyGuardianResult">
        <result property="id"    column="id"    />
        <result property="elderlyId"    column="elderly_id"    />
        <result property="guardianId"    column="guardian_id"    />
        <result property="authorizationStatus"    column="authorization_status"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="elderlyName"  column="elderly_name"  />
        <result property="guardianName" column="guardian_name" />
    </resultMap>

    <sql id="selectTElderlyGuardianVo">
        select eg.id, eg.elderly_id, eg.guardian_id, eg.authorization_status, eg.is_deleted, eg.create_time, eg.update_time,
               e.name as elderly_name, g.name as guardian_name
        from t_elderly_guardian eg
        LEFT JOIN t_elderly e ON eg.elderly_id = e.elderly_id
        LEFT JOIN t_guardian g ON eg.guardian_id = g.guardian_id
    </sql>

    <select id="selectTElderlyGuardianList" parameterType="TElderlyGuardian" resultMap="TElderlyGuardianResult">
        <include refid="selectTElderlyGuardianVo"/>
        <where>  
            <if test="elderlyId != null "> and eg.elderly_id = #{elderlyId}</if>
            <if test="guardianId != null "> and eg.guardian_id = #{guardianId}</if>
            <if test="authorizationStatus != null "> and eg.authorization_status = #{authorizationStatus}</if>
            <if test="elderlyName != null  and elderlyName != ''"> and e.name like concat('%', #{elderlyName}, '%')</if>
            <if test="guardianName != null  and guardianName != ''"> and g.name like concat('%', #{guardianName}, '%')</if>
        </where>
    </select>
    
    <select id="selectTElderlyGuardianById" parameterType="Long" resultMap="TElderlyGuardianResult">
        <include refid="selectTElderlyGuardianVo"/>
        where eg.id = #{id}
    </select>

    <insert id="insertTElderlyGuardian" parameterType="TElderlyGuardian" useGeneratedKeys="true" keyProperty="id">
        insert into t_elderly_guardian
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="elderlyId != null">elderly_id,</if>
            <if test="guardianId != null">guardian_id,</if>
            <if test="authorizationStatus != null">authorization_status,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="elderlyId != null">#{elderlyId},</if>
            <if test="guardianId != null">#{guardianId},</if>
            <if test="authorizationStatus != null">#{authorizationStatus},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTElderlyGuardian" parameterType="TElderlyGuardian">
        update t_elderly_guardian
        <trim prefix="SET" suffixOverrides=",">
            <if test="elderlyId != null">elderly_id = #{elderlyId},</if>
            <if test="guardianId != null">guardian_id = #{guardianId},</if>
            <if test="authorizationStatus != null">authorization_status = #{authorizationStatus},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTElderlyGuardianById" parameterType="Long">
        delete from t_elderly_guardian where id = #{id}
    </delete>

    <delete id="deleteTElderlyGuardianByIds" parameterType="String">
        delete from t_elderly_guardian where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>